<main>
    <link rel="stylesheet" href="../css/index.css">
    <div class="container">
        <!-- Logo -->
        <img src="../imagens/logo.png" alt="Logo da Eleição" class="logo mb-4">

        <!-- Botões -->
        <a href="/formulario/" class="btn btn-primary btn-lg mb-3 d-block">Cadastrar Candidatos</a>
        <a href="/voto/" class="btn btn-success btn-lg d-block">Iniciar Votação</a>
        <a href="/resultado/" class="btn btn-info btn-lg d-block">Resultados</a>
    </div>
</main>
