                {{#condicionalIgualdade situacao "okCadastro"}}
                <div class="alert alert-success">Candidato cadastrado com sucesso!</div>
                {{/condicionalIgualdade }}

                {{#condicionalIgualdade situacao "okEdicao"}}
                <div class="alert alert-success">Candidato editado com sucesso!</div>
                {{/condicionalIgualdade }}

                {{#condicionalIgualdade situacao "okRemover"}}
                <div class="alert alert-success">Candidato removido com sucesso!</div>
                {{/condicionalIgualdade }}

                {{#condicionalIgualdade situacao "falhaCadastro"}}
                <div class="alert alert-danger">Falha ao cadastrar o Candidato, tente novamente.</div>
                {{/condicionalIgualdade }}

                {{#condicionalIgualdade situacao "falhaEdicao"}}
                <div class="alert alert-danger">Falha ao editar o Candidato, tente novamente</div>
                {{/condicionalIgualdade }}

                {{#condicionalIgualdade situacao "falhaRemover"}}
                <div class="alert alert-danger">Falha ao remover o Candidato, tente novamente</div>
                {{/condicionalIgualdade }}
